<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CodePen - Animated Login Form using Html &amp; CSS Only</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body class="login-body">
    <!-- partial:index.partial.html --> 
    <section>
      <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> 
      <div class="signin">
        <div class="content">
          <h2>Sign In</h2>
          <div class="form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="inputBox", style="color: #080808;"> 
                <!-- <input type="text" required> <i>Username</i>  -->
                <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
              </div>
              <div class="inputBox", style="color: #080808;"> 
                <!-- <input type="password" required> <i>Password</i>  -->
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>
              <div class="links"><%= link_to "Forgot your password?", new_password_path(resource_name) %><%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %>
              </div>
              <div class="inputBox"> 
                <!-- <input type="submit" value="Login"> -->
                <%= f.submit "Login" %>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </section>
    <!-- partial --> 
  </body>
</html>
<h2>Log in</h2>

<%= render "devise/shared/links" %>
